*{
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}
body{
    background: #44474b;
}
.card{
    background: linear-gradient(135deg, #a14497, #8a7fd1);
    color: #fff;
   width: 90%;
   max-width: 470px;
   margin: 100px auto 0;
   border-radius: 20px;
   padding: 40px 30px;
   text-align: center;
  

}
.search{
    width: 100%;
   display: flex;
   align-items: center;
    justify-content: center;
}
.search input{
    border: none;
    outline: none;
    background: #e2e7e6;
    color: #1d1b1b;
    padding: 10px 15px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    height: 60px;
    width: 60px;
    border: 0;
    outline: 0;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;

}
.search button img{
    width: 24px;
    
}
.weather-icon{
   width: 170px;
   margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;

}
.col img{
    width: 50px;
    margin-right: 20px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    color: #ff0000;
    display: none;
}

.footer {
  text-align: center;
  padding: 12px;
  font-size: 14px;
  color: #666;
  background-color: #f5f5f5;
}

/* Footer link */
.footer a {
  color: #0077ff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}